[REFERENCE]
SA_REV = SA13
SA_ID = c5r0
#Replace with actual device ID
MEASUREMENT_DATE = 20230326

[ASSUMED]
R_CRYOCABLE = 117
#OHM
M_SSA_IN = 1.034E-10
#HENRY
SSA_SHUNT_R = NaN
#OHM

[MEASURED]
M_SSA_FB = 4.37E-11
#HENRY
I_SSA_BIAS = 4.24E-5
#AMP
V_SSA_MOD = 2.115E-3
#VOLT
FLUX_QUANTUM = 4.74E-6
#AMP
dV_SSA_dI_IN_RISING = 0.368
dV_SSA_dI_IN_FALLING = 0.369

